<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="highgrove_store_locator" frontName="highgrove_store_locator">
            <module name="Highgrove_StoreLocator" before="Magento_Backend"/>
        </route>
    </router>
</config>
